html,
body {
  padding: 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.card {
  border: 1px solid black;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  min-width: 300px;
  max-width: 500px;
}

.header {
  font-size: 20px;
  font-weight: bold;
}

.disabled {
  opacity: 40%;
}
